:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}

button {
  cursor: pointer;
  min-width: 50px;
  background-color: #eee;
  padding: 8px 15px;
  border: 1px solid #171717;
}

a {
  text-decoration: none;
  color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 900px;
  background-color: antiquewhite;
  margin: auto;
  transform: translateY(60px);
  padding: 20px;
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
