.button {
    cursor: pointer;
    min-width: 50px;
    padding: 8px 15px;
    background-color: var(--color-one);
    color: var(--color-three);
    border: 2px solid var(--color-one);
    transition: var(--transition);

    display: inline-flex;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    border: #ccc;
    color: #777;
}

.button:disabled:hover {
    opacity: 1;

}

.button:hover {
    opacity: 0.9;
}

.danger {
    background-color: var(--red);
    border-color: var(--red);
}

.outline {
    background-color: var(--color-three);
    border-color: var(--color-one);
    color: var(--color-one);
}

.outline:hover {
    opacity: 1;
    background-color: var(--color-one);
    color: var(--color-three);
}

.outline:disabled:hover {
    background-color: #ccc;
    color: #777;
}
