.card {
    background-color: var(--color-two);
    padding: 20px;
    width: 350px;
    flex-grow: 1;
    border: 2px solid var(--color-two);
    border-radius: 10px;
    margin: 10px;
}

.title {
    color: var(--color-three);
    margin-bottom: 5px;
    padding: 0px 5px;
    border-left: 5px solid var(--red);
    width: fit-content;
}

.description {
    color: var(--color-three);
}
