.welcome {
    display: flex;
    width: 100%;
}

.text p {
    position: relative;
    z-index: 10;
    text-transform: capitalize;
}

.welcome-text {
    color: var(--color-two);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vision {
    font-size: 45px;
    color:  var(--color-one);
    background-color: #ffffff9e;
    margin-bottom: 10px;
    width: fit-content;
    font-weight: bold;
}

.desc {
    color: var(--gray);
    font-size: 20px;
    margin-top: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.blog-btn {
    width: 100px;
}


.img {
    width: 200px;
    height: 355px;
    position: absolute;
    right: 20px;
    right: 0;
    top: -20px;
}

.img img {
    width: 100%;
    height: 100%;
}

@media (min-width: 991px) {
    .text {
        flex-grow: 1;
    }

    .welcome-text {
        font-size: 42;
    }

    .vision {
        font-size: 58px;
    }

    .desc {
        font-size: 24px;
    }

    .img {
        flex-shrink: 0;
        position: relative;
        top: -50px;
        width: 450px;
        height: 300px;
    }
}
