.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: #222;
    color: #fff;
}

.menu-button {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5px;
}

.menu-button span {
    width: 100%;
    background-color: #fff;
    height: 2px;    
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: tomato;
    color: #fff;
    height: calc(100vh - 60px);
    width: 75%;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.3s;
}

.show-nav-list {
    visibility: visible;
    transform: translateX(0%);
}

@media (min-width: 767Px) {
    .nav-bar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992Px) {
    .nav-bar {
        padding-left: 40px;
        padding-right: 40px;
    }
}