.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background: linear-gradient(to bottom, var(--color-one), var(--color-two));
    color: var(--color-three);
}

.menu-button {
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--color-three);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5px;
    transition: var(--transition);
}

.menu-button:hover {
    border-color: var(--white);
}    


.menu-button span {
    width: 100%;
    background-color: var(--color-three);
    height: 2px;    
    transition: var(--transition);
}    

.menu-button:hover span{
    border-color: var(--white);
}    

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: var(--color-one);
    color: var(--color-three);
    height: calc(100vh - 60px);
    width: 75%;
    transform: translateX(-100%);
    visibility: hidden;
    transition: var(--transition);
}

.show-nav-list {
    visibility: visible;
    transform: translateX(0%);
}

@media (min-width: 767Px) {
    .nav-bar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992Px) {
    .nav-bar {
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu-button {
        display: none;
    }

    .nav-list {
        visibility: visible;
        transform: translateX(0);
        position: static;
        height: fit-content;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        font-size: 22px;
        gap: 20px;
    }
}